@import "tailwindcss";

.bg-primary{
    background-color: #5f6fff;
}

.active hr{
    @apply block
}

::-webkit-scrollbar{
    @apply hidden;
}
/* index.css */
.grid-cols-auto {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
html{
    scroll-behavior: smooth;
}